:root {

  /* Layout */
  --top-margin: 1.8vh;
  --font-size-middle: clamp(1rem, 1.7vw, 5rem);
  --font-size-l: clamp(2rem, 3vw, 16rem);
  --font-size-xl: clamp(2rem, 8vw, 16rem);
  --frame-largest-top-padding: 0.6vw;
  /* --frame-border-width: 1px; */

  /* Palette */
  --mid-gray: #B9B9B9;
  --rosy-brown: #B48383;
  --pastel-yellow: #E4C994;
  --soft-green: #7EB8A0;

  /* Z-indexes */
  --z-behind: -1;
  --z-bottom: 0;
  --z-mid: 5;
  --z-top: 10;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
  font-family: var(--font-righteous);
}

img {
  display: block;
}


.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}


/* Frame */
.frame {
  position: absolute;
  top: var(--top-margin);
  left: 50%;
  width: 98vw;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame__left-container,
.frame__center-container,
.frame__right-container {
  color: var(--mid-gray);
  position: relative;
  padding: 0 1vw;
}

.frame__left-container,
.frame__center-container {
  font-size: clamp(1rem, 1.4vw,5rem);
}

.frame__right-container {
  font-family: var(--font-archivo);
  line-height: 1;
  font-size: 3.2rem;
  font-size: var(--font-size-middle);
  outline: 1px solid var(--mid-gray);
  padding: var(--frame-largest-top-padding) 2vw;
}

.frame__left-container::after,
.frame__right-container::before,
.frame__left-container::before,
.frame__right-container::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: var(--mid-gray);
}
/* Horizontal frame */
.frame__left-container::after,
.frame__right-container::before {
  height: 1px;
  width: 40vw;
  top: 50%;
}

.frame__left-container::after {
  left: 100%;
}

.frame__right-container::before {
  left: calc(0% - 40vw);
}


/* Vertical frame */
.frame__left-container::before,
.frame__right-container::after {
  top: 100%;
  height: 100vh;
  overflow: hidden;
  width: 1px;
}

.frame__left-container::before {
  left: 50%;
}

.frame__right-container::after {
  left: 85%;
}