/* Visual element holders */

.color-shift-svg {
  /* Not possible to use blend-mode for image as not part of SVG scope */
  fill: rgba(228, 201, 148, 0.45);
  filter: drop-shadow(6px 5px 5px black);
}

.color-shift-svg-2 {
  /* Not possible to use blend-mode for image as not part of SVG scope */
  fill: rgba(255, 0, 216, 0.64);
}

.outer-sidebar,
.background-image-container {
  height: 100%;
}


.outer-sidebar {
  position: relative;
  flex: 0 0 15%;
  background: var(--rosy-brown);
}

.inner-sidebar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: calc(100% - var(--top-margin) - (var(--font-size-middle)/2) - var(--frame-largest-top-padding));
  background: var(--pastel-yellow);
}

.background-image-container {
  background: url("../assets/imgs/background-image.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  z-index: var(--z-behind);
  filter: url(#blurFilter);
}

.background-image-container-2nd-view, .view-2 {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
}

.background-image-container-2nd-view {
  z-index: var(--z-behind);
  background: url("../assets/imgs/alexander-kaunas-_b81pK8Ap9Y-unsplash.jpg");
  ;
}

.background-image-container {
  flex: 1 0 auto;
  position: relative;
}


.main-text-container {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

/* .main-text {
  width: 100vw;
  height: 100vh;
} */

.approach-text {
  cursor: pointer;
  font-size: 13vw;
  text-transform: uppercase;
  text-anchor: middle;
}

.direction-text {
  cursor: pointer;
  font-size: 13vw;
  text-transform: uppercase;
  text-anchor: middle;
}

.a-text-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.unmasked-text {
  fill: #ca9595;
}

.unmasked-text-2 {
  fill: rgba(225, 0, 216, 0.72);
}

.unmasked-text-low-opacity {
  fill-opacity: 0.75;
}

.masked-text {
  fill: var(--soft-green);
}

.masked-text-2 {
  fill: white;
}

.masked-text--blow-compensation {
  fill: #43b198;
}

.letter-arrow {
  font-size: 4.2vw;
}



/* .letter-c-rotated { */
/* transform-origin: 50% 50%; */
/* transform: rotate(-20deg); */
/* } */

.click-text-container {
  font-size: 4.2vw;
  text-anchor: middle;
  /* position: absolute;
  top: 25vh;
  left: 15vw;
  transform: translate(-18%, -50%);
  font-size: var(--font-size-l); */
}


.arrow {
  position: absolute;
  top: 50vh;
  left: 15vw;
  transform: translate(-25%, -50%);
  font-size: var(--font-size-xl);
  background: linear-gradient(90deg, var(--rosy-brown) 0 25%, var(--soft-green) 25% 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}