

/* Visual element holders */
.color-shift {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background: var(--pastel-yellow);
  mix-blend-mode: soft-light;  
  box-shadow: 10px 5px 5px black;
}

.color-shift-svg {
  /* Not possible to use blend-mode for image as not part of SVG scope */
  fill: rgba(228, 201, 148, 0.45);
  filter: drop-shadow(6px 5px 5px black);
}

.outer-sidebar,
.background-image-container {
  height: 100%;
}


.outer-sidebar {
  position: relative;
  flex: 0 0 15%;
  background: var(--rosy-brown);
}

.inner-sidebar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: calc(100% - var(--top-margin) - (var(--font-size-middle)/2) - var(--frame-largest-top-padding)); 
  background: var(--pastel-yellow);
}

.background-image-container, 
.background-image-duplicate{
  background: url("../assets/imgs/background-image.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  z-index: var(--z-behind);
}

.background-image-container {
  flex: 1 0 auto;
  position: relative;
}

.background-image-duplicate {
  width: 100%;
  height: 100%;
  filter: url(#floodImage);
  clip-path: url(#circularClip2);
  mix-blend-mode: soft-light;
  /* Can't add blend mode in SVG filters as <feBlend> only allows 5 values */
  /* Also can't add drop shadow as working on full image */
  /* If want to go deeper, would add tint through pseudo-element with same clip path... */
}


.main-text-container { 
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.a-text-container { 
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.unmasked-text {
  fill: #ca9595;
  fill-opacity: 0.75;
  /* NOTE: */
  stroke: #ca9595;
  stroke-opacity: 0.04; /*Optional*/
}

.masked-text {
  fill: var(--soft-green);
}

.masked-text--blow-compensation {
  fill: #43b198;
}

.click-text-container {
  position: absolute;
  top: 25vh;
  left: 15vw;
  transform: translate(-18%, -50%);
  font-size: var(--font-size-l);
}

.click-text {
  /* Starting with CSS only setup... as not moving */
  background: linear-gradient(90deg, var(--rosy-brown) 0 18%, var(--soft-green) 18% 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.arrow {
  position: absolute;
  top: 50vh;
  left: 15vw;
  transform: translate(-25%, -50%);
  font-size: var(--font-size-xl);
  background: linear-gradient(90deg, var(--rosy-brown) 0 25%, var(--soft-green) 25% 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}