:root {}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
  font-family: var(--font-righteous);
}

.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #74006F, hsla(301, 98%, 42%, 0.729));
}

.main-svg {
  width: 100%;
  height: 100%;
}

.main-svg text {
  font-size: 10vw;
  text-anchor: middle;
  text-transform: uppercase;
}