@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous-Regular.ttf") format("truetype");
  font-weight: 400;
}


:root {
  --font-archivo: 'Archivo', sans-serif;
  --font-righteous: 'Righteous', cursive;
}